// Colores 
$MS-navyblue: #1C2D4A;
$MS-deepblue: #0373B2;
$MS-brightblue: #0283C8;
$MS-lightblue: #0695D8;

$MS-done: #4CAF50;
$MS-progress: #FFC107;
$MS-cancel: #F44336;
$MS-empty: #666;

// Degrades
$MS-gradient: linear-gradient(90deg, rgba($MS-navyblue, 0) 0%, $MS-deepblue 25%, $MS-deepblue 75%, rgba($MS-navyblue, 0) 100%);
$MS-darkModeBackground: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);

$MS-danger: #ff4d4d;
$MS-success: #4CAF50;
$MS-gray: #333;

// Breakpoints
$breakpoint-mobile-start: 200px;
$breakpoint-mobile: 500px;
$breakpoint-tablet-start: 501px;
$breakpoint-tablet: 980px;
$breakpoint-laptop-start: 981px;
$breakpoint-laptop: 1439px;
$breakpoint-desktop-start: 1440px;