// Colores 
$autoequipe-blue: #0057d8;
$autoequipe-yellow: #ffd600;
$autoequipe-danger: #ff4d4d;
$autoequipe-gray: #333;

// Breakpoints
$breakpoint-mobile-start: 200px;
$breakpoint-mobile: 500px;
$breakpoint-tablet-start: 501px;
$breakpoint-tablet: 980px;
$breakpoint-laptop-start: 981px;
$breakpoint-laptop: 1439px;
$breakpoint-desktop-start: 1440px;
